@model IEnumerable<BaasDashboard.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>
<hr/>

    <div class="row">
        <div class="col-2 bg-dark" >
          <nav>
            @foreach (var user in Model)
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item menu-open">
                <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="nav-link active">
                 <img src="@Html.DisplayFor(u => user.ImgPath)" height="30" width="30"/>
                  <p>
                    &nbsp;
                    @Html.DisplayFor(u => user.Name)
               
                  </p>
                </a>
              </li>
            </ul>
            }
        </nav>
        </div>
       
       
    </div>

    <hr />
<p>
    


